html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  background: #151515;
  color: #fff;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.burger{
    background-color: brown;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.profile-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.profile-content.delete{
    display: none;
}

.profile-content img{
       width: 100px;
       object-fit: cover;
       height: 100px;
        border-radius: 1000px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
      
    }

#delete-profile{
   width: 250px;
    background-color: red;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;

}

.modal.open{
    display: block;
}

.modal__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    color: #151515;
    gap:20px;
    border-radius: 10px;
    font-size: 30px;
}
.modal__buttons{
    display: flex;
    gap: 30px;
    
}
.modal__buttons button{
    background-color: #151515;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.menu{
    background-color: aliceblue;
    width: 800px;
    right: 0;
    z-index: 1000;
    position: fixed;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.menu.openburger{
    transform: translateX(0);
}

.closeBurger{
    background-color: cadetblue;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}